.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}

.logo {
font-size: 1.5rem;
font-weight: bold;
color: #333;
text-decoration: none;
}

.btnContainer {
  position: relative;
  margin-right: 2rem;
  display: flex;
  gap: 10px;
}

.wideScreenButtons {
  display: flex;
  gap: 10px;
}

.cartBtn {
  position: relative;
  background: none; 
  color: #5c5c5c;
  font-size: 1.7rem;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
}

.cartQuantity {
  position: absolute;
  top: 7px;
  right: -4px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 0.7rem;
}

.userBtn {
  background: none;
  color: #5c5c5c;
  font-size: 1.7rem;
  border: none;
  padding-left: 4px;
  padding-right: 7px;
}

.logoutBtn {
  align-self: center;
  padding: 0 15px;
  height: 35px;
}

.hamburger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: end;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: #5c5c5c;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
  padding: 0;
}

.hamburger.open {
  transform: rotate(90deg);
}

.hamburger-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: -810px;
  top: 50px;
  height: 100vh;
  width: 110vw;
  background-color: #333;
  transition: transform 0.3s ease;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.burgerLink {
  color: white;
  height: 5rem;
  text-decoration: none;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .wideScreenButtons {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .hamburger-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
  }

  .hamburger-links button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .hamburger-links a {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
  }

  .hamburger-links.open {
    transform: translateX(-820px);
  }
}